<!DOCTYPE HTML>
<html lang="en">
<% include ../partials/header %>

    <head>
        <style>
            @media screen and (min-width:993px) {
                .firstelement {
                    padding-top: 100px;
                }
            }
        </style>
    </head>

    <body class="animsition">
        <section class="bgwhite p-t-55 p-b-65 firstelement">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h1>
                            <i>Payment</i>
                        </h1>
                        <hr>
                    </div>
                </div>
                <div class="col-12">
                    
                </div>
            </div>
            </div>
        </section>

        <% include ../partials/footer %>
            <script>

            </script>
    </body>

</html>