<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        @media screen and (min-width:993px) {
            .sectionHeader {
                padding-top: 100px;
            }
        }

        .row {
            padding-bottom: 20px;
        }
    </style>
</head>

<% include ../partials/header %>

    <body>
        <section class="banner2 bg5 p-b-55">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="sectionHeader">
                            Browse
                        </h1>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div align="center">
                            <div class="card" style="width:400px">
                                <img class="card-img-top" src="/images/browse/test.png" alt="Card image" style="width:50%">
                                <div class="card-body">
                                    <h4 class="card-title">Central Processing Unit (CPU)</h4>
                                    <p class="card-text">Description</p>
                                    </br>
                                    <a href="/compare/type/CPU" class="btn btn-primary">Browse</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div align="center">
                            <div class="card" style="width:400px">
                                <img class="card-img-top" src="/images/browse/hdd.jpg" alt="Card image" style="width:50%">
                                <div class="card-body">
                                    <h4 class="card-title">Graphics Processing Unit (GPU)</h4>
                                    <p class="card-text">Description</p>
                                    </br>
                                    <a href="/compare/type/GPU" class="btn btn-primary">Browse</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div align="center">
                            <div class="card" style="width:400px">
                                <img class="card-img-top" src="/images/browse/test.png" alt="Card image" style="width:50%">
                                <div class="card-body">
                                    <h4 class="card-title">Random Access Memory (RAM)</h4>
                                    <p class="card-text">Description</p>
                                    </br>
                                    <a href="/compare/type/RAM" class="btn btn-primary">Browse</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div align="center">
                            <div class="card" style="width:400px">
                                <img class="card-img-top" src="/images/browse/hdd.jpg" alt="Card image" style="width:50%">
                                <div class="card-body">
                                    <h4 class="card-title">Motherboard</h4>
                                    <p class="card-text">Description</p>
                                    </br>
                                    <a href="/compare/type/Motherboard" class="btn btn-primary">Browse</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div align="center">
                            <div class="card" style="width:400px">
                                <img class="card-img-top" src="/images/browse/test.png" alt="Card image" style="width:50%">
                                <div class="card-body">
                                    <h4 class="card-title">Power Supply Unit (PSU)</h4>
                                    <p class="card-text">Description</p>
                                    </br>
                                    <a href="/compare/type/PSU" class="btn btn-primary">Browse</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div align="center">
                            <div class="card" style="width:400px">
                                <img class="card-img-top" src="/images/browse/hdd.jpg" alt="Card image" style="width:50%">
                                <div class="card-body">
                                    <h4 class="card-title">Hard Disk Drives (HDD) / Solid State Drives (SSD)</h4>
                                    <p class="card-text">Description</p>
                                    </br>
                                    <a href="/compare/type/Drives" class="btn btn-primary">Browse</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div align="center">
                            <div class="card" style="width:400px">
                                <img class="card-img-top" src="/images/browse/test.png" alt="Card image" style="width:50%">
                                <div class="card-body">
                                    <h4 class="card-title">Cases</h4>
                                    <p class="card-text">Description</p>
                                    </br>
                                    <a href="/compare/type/Cases" class="btn btn-primary">Browse</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div align="center">
                            <div class="card" style="width:400px">
                                <img class="card-img-top" src="/images/browse/hdd.jpg" alt="Card image" style="width:50%">
                                <div class="card-body">
                                    <h4 class="card-title">Others</h4>
                                    <p class="card-text">Description</p>
                                    </br>
                                    <a href="/compare/type/Others" class="btn btn-primary">Browse</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <% include ../partials/footer %>
    </body>